.content{
  min-height:100vh
}
.sidebar{
  position:fixed !important;
  top:70.33px;
  padding:0;
  width: 20vw;
  z-index:2;
}
.context{
  margin-top:1rem;
}
@media only screen and (max-width: 1024px) {
    .context{

    }
    .sidebar{
      width:70%;
    }
}
