#sidebarmenu{
  height:calc(100vh - 117.33px);
}
.sidebar-btn{
  margin-left: 0.4rem;
  display:inline-block;
}
.sidebar-btn:hover{
  opacity: 1 !important;
}
.active{
  background-color : #FFC107!important;
}
